.bg-color-smoke {
  background-color: #d1d1d3;
}

.bg-color-oyster {
  background-color: #e1dbd6;
}

.bg-color-ghost {
  background-color: #e2e2e4;
}

.bg-color-ivory {
  background-color: #f9f6f2;
}

.bg-color-snow {
  background-color: #fefefe;
}

.bg-color-white {
  background-color: #fff;
}
